<!-- Nội dung chính của ứng dụng -->
<div [ngClass]="{'with-navbar-padding': showNavbarPadding}">
    <router-outlet></router-outlet>
  </div>
  
<!-- Loading overlay chỉ xuất hiện khi isLoading$ là true -->
<div *ngIf="isLoading$ | async" id="app-loading">
    <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>