<h2 mat-dialog-title class="center">Add Brand</h2>


<div mat-dialog-content>
  <form #brandForm="ngForm" (ngSubmit)="onSubmit()">
    <!-- Error Message Display -->
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>

    <mat-form-field class="w-100">
      <mat-label>Brand Name</mat-label>
      <input matInput [(ngModel)]="brand.name" name="name" required maxlength="255" />
    </mat-form-field>

    <div mat-dialog-actions class="action-buttons">
      <button mat-flat-button color="primary" class="save-button" type="submit" [disabled]="!brand.name || isSubmitting">
        {{ isSubmitting ? 'Đang lưu...' : 'Save' }}
      </button>
      <button mat-button class="cancel-button" type="button" (click)="onCancel()" [disabled]="isSubmitting">Cancel</button>
    </div>
  </form>
</div>
