<!-- Footer -->
<footer id="footer" class="mt-5">
  <div class="container">
    <div class="row d-flex flex-wrap justify-content-between py-5">
      <div class="col-md-3 col-sm-6">
        <div class="footer-menu footer-menu-001">
          <div class="footer-intro mb-4">
            <a routerLink="/home">
              <img src="assets/img/logo.png" alt="logo">
            </a>
          </div>
          <p>EStore – không chỉ là nơi mua sắm trực tuyến, mà còn là trải nghiệm khám phá phong cách, kết nối xu hướng mới nhất, cập nhật sản phẩm tiện lợi và tận hưởng mọi tiện ích chỉ với vài cú nhấp chuột.</p>
          <div class="social-links">
            <ul class="list-unstyled d-flex flex-wrap gap-3">
              <li>
                <a href="#" class="text-secondary">
                  <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#facebook"></use></svg>
                </a>
              </li>
              <li>
                <a href="#" class="text-secondary">
                  <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#twitter"></use></svg>
                </a>
              </li>
              <li>
                <a href="#" class="text-secondary">
                  <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#youtube"></use></svg>
                </a>
              </li>
              <li>
                <a href="#" class="text-secondary">
                  <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#pinterest"></use></svg>
                </a>
              </li>
              <li>
                <a href="#" class="text-secondary">
                  <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#instagram"></use></svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="footer-menu footer-menu-002">
          <h5 class="widget-title text-uppercase mb-4">Liên kết nhanh</h5>
          <ul class="menu-list list-unstyled border-animation-left fs-6">
            <li class="menu-item">
              <a routerLink="/home" class="item-anchor">Trang Chủ</a>
            </li>
            <li class="menu-item">
              <a routerLink="/product" class="item-anchor">Sản Phẩm</a>
            </li>
            <li class="menu-item">
              <a routerLink="/cart" class="item-anchor">Giỏ Hàng</a>
            </li>
            <li class="menu-item">
              <a routerLink="/account" class="item-anchor">Tài Khoản</a>
            </li>
          </ul>
          
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="footer-menu footer-menu-003">
          <h5 class="widget-title text-uppercase mb-4">Hỗ trợ & thông tin</h5>
          <ul class="menu-list list-unstyled border-animation-left fs-6">
            <li class="menu-item">
              <a href="#" class="item-anchor">Liên Hệ</a>
            </li>
            <li class="menu-item">
              <a href="#" class="item-anchor">Câu Hỏi Thường Gặp</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="footer-menu footer-menu-004 border-animation-left">
          <h5 class="widget-title text-uppercase mb-4">Liên hệ với chúng tôi</h5>
          <p>Bạn có câu hỏi hoặc góp ý? <a href="mailto:contact@yourcompany.com" class="item-anchor">contact&#64;yourcompany.com</a></p>
          <p>Cần hỗ trợ? Hãy gọi cho chúng tôi. <a href="tel:+0123456789" class="item-anchor">+012-345-6789</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top py-4">
    <div class="container">
      <div class="row">
        
        <div class="col-md-6">
          <div class="payment-option">
            <span>Phương thức thanh toán:</span>
            <img src="assets/img/idyXqfCegn.png" alt="card" style="height: 30px; margin: 0 10px;">
            <img src="assets/img/PayPal-Logo.jpg" alt="card" style="height: 30px; margin: 0 10px;">

          </div>
          <!-- <p>© Copyright 2024. All rights reserved. Design by TemplatesJungle</p> -->
        </div>

        <div class="col-md-6 text-end">
          <div class="shipping">
            <span>An toàn bảo mật:</span>
            <img src="assets/img/godaddy.svg" alt="icon" style="height: 30px; margin: 0 10px;">
            <img src="assets/img/norton.svg" alt="icon" style="height: 30px; margin: 0 10px;">
          </div>
          
        </div>
      </div>
    </div>
  </div>
</footer>
