<div *ngIf="!hasAccessToken" id="userAccountDropdown" class="dropdown" (click)="toggleDropdown($event)">
    <a href="#" class="text-white text-uppercase mx-3 dropdown-toggle" style="text-decoration: none; cursor: pointer; color: lightgray !important;">Tài khoản người dùng</a>
    <div class="dropdown-menu" [class.show]="dropdownOpen">
        <a id="loginLink" class="dropdown-item" routerLink="admin/login">Đăng nhập</a>
        <a id="registerLink" class="dropdown-item" routerLink="admin/register">Đăng ký</a>
    </div>
</div>
